@font-face {
  font-family: 'iconfont';  /* project id 1740258 */
  src: url('//at.alicdn.com/t/font_1740258_5bpbkybip6u.eot');
  src: url('//at.alicdn.com/t/font_1740258_5bpbkybip6u.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1740258_5bpbkybip6u.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1740258_5bpbkybip6u.woff') format('woff'),
  url('//at.alicdn.com/t/font_1740258_5bpbkybip6u.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1740258_5bpbkybip6u.svg#iconfont') format('svg');
}

.icon-bilibili {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e64e";
}

.icon-zhihu {
  font-family: "iconfont" !important;
  font-size: 27px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-lofter {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lofter:before {
  content: "\e638";
}

.icon-qq {
  font-family: "iconfont" !important;
  font-size: 27px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e612";
}
